{{> top }}

<div class="alert alert-error" style="text-align:center"> 
<strong>404 Error</strong>
<p>Page '{{page}}' doesn't exist.<br /> Try returning to <a href="/home">The Home Page</a></p>
</div>


{{> tail }}
